# Ignore everything
*

# Don't ignore directories
!/**/

# Don't ignore gitignore
!.gitignore

# Don't ignore c, h, make files, shared libraries
!*.jar
!*.java
!*.c
!*.h
!*.sh
!*.so
!*.md
!*.txt
!*.mak
!makefile
!Makefile
